<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('header'); -%>
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= titleName %>
        </h1>
    </div>

    <div class="box">
        <!-- 配列をイテレート -->
        <% ToDoContent.forEach(function(items) { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= items._id %>" onchange="this.form.submit()">
                    <p>
                        <%= items.name %>
                    </p>
                    <input type="hidden" name="title" value="<%= titleName %>">
                </div>
            </form>
            <% }) %>


                <form class="item" action="/" method="POST">
                    <input type="text" name="newListItem" placeholder=" put text!!!" autocomplete="off">
                    <button type="submit" name="list" value="<%= titleName %>">+</button>
                </form>
                <!-- 送信したらinputに入力したnameが送信される -->
    </div>

    <%- include('footer'); -%>

</body>

</html>